
@import "/ToySwap/html/components/info/Footer-css.css";
@import "/ToySwap/html/components/info/header-css.css";
body{
    background-color: #FFC3C2;
}
.Chat_main_wrapper{
    width: 80%;
    text-align: right;
}
.user_wrapper{
    margin: 5px;
}
.user_name ,.send_massage_bottom{
    display: inline-block;
}

.send_massage_bottom button{
    border-radius: 500px;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background: mediumslateblue;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    font-size: large;
}
.user_name{

}
table{
    float: right;
    margin-bottom: 30px;
}
table, th, td {
    text-align: right;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    .Chat_main_wrapper{
        width: 90%;
        margin-left: auto;
        margin-top: auto;
        text-align: center;
    }
    table{
        margin-right: 10%;
        float: none;
    }
    table, th, td {
        text-align: center;
    }
}