/* Full-width input fields */
.modal-content-singup input[type=text], .modal-content-singup input[type=password] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: large;
}
.modal-content-singup select {
    text-align: right;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.container-singup h1{
    text-align: center;
}
/* Add a background color when the inputs get focus */
.modal-content-singup input[type=text]:focus, .modal-content-singup input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.modal-content-singup button {
    background-color: #b3b3ff ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal-content-singup button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container-singup {
    padding: 16px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

/* The Modal (background) */
.modal-singup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content-singup {
    background-color: #09bda6;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media only screen and (max-width: 768px) {
    .modal-content-singup{
        width: 90%;
    }
}
